<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keyontech.meh3">


    <!--Job Scheduler Requirements-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Meh video screen -->
        <activity
            android:name=".Activities.ActivityMehVideo"
            android:label="Meh Video"
            android:launchMode="singleTop">

            <!-- use this to auto add the back button on top left -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>

        <!-- Meh Poll screen -->
        <activity
            android:name=".Activities.ActivityMehPoll"
            android:label="Meh Poll"
            android:launchMode="singleTop">

            <!-- use this to auto add the back button on top left -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>

        <!-- About screen -->
        <activity
            android:name=".Activities.ActivityAbout"
            android:label="About"
            android:launchMode="singleTop">

            <!-- use this to auto add the back button on top left -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>

        <!-- GO TO URL screen -->
        <activity
            android:name=".Activities.ActivityGoToSite"
            android:label="Deal"
            android:launchMode="singleTop">

            <!-- use this to auto add the back button on top left -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>




        <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

        <!---->
        <!--&lt;!&ndash; Broadcast receiver for notification &ndash;&gt;-->
        <!--&lt;!&ndash;<receiver android:name=".notification.AlertReceiver" />&ndash;&gt;-->


        <!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->


        <!--&lt;!&ndash; Used by Polling Service - start &ndash;&gt;-->
        <!--&lt;!&ndash; Used for Polling Service Alarm Service Auto Check API at 11pm &ndash;&gt;-->
        <!--&lt;!&ndash;<service android:name=".IntentService1" />&ndash;&gt;-->
        <!--<receiver-->
            <!--android:name=".services.BroadcastReceiver_Notifications_Service_Startup"-->
            <!--android:enabled="true"-->
            <!--android:exported="true"-->
            <!--&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->


        <!--&lt;!&ndash; Used for Polling Service StartUp on Boot automatically USE &ndash;&gt;-->
        <!--&lt;!&ndash;<receiver android:name=".BroadcastReceiver_Notifications_Service_Startup" >&ndash;&gt;-->
        <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
        <!--&lt;!&ndash;<action android:name="android.intent.action.BOOT_COMPLETED" />&ndash;&gt;-->
        <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->
        <!--&lt;!&ndash;</receiver>&ndash;&gt;-->
        <!--<service-->
            <!--android:name=".services.IntentService_Notifications_Poll_Service"-->
            <!--android:exported="false"-->
            <!--/>-->
        <!--&lt;!&ndash; Used by Polling Service - end &ndash;&gt;-->

        <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->





        <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

        <!--Job Scheduler Requirements-->
        <service android:name=".services.MJobScheduler"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />

        <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->




    </application>

</manifest>